[2015-07-22 10:46] jnehring opened #1 "Re-arrange codes according to FREME standards"

[2015-07-29 16:04] borriellom opened #2 "Generated NIF check"
Hi Nilesh, it would be great if you could take a look at the NIF generated by the e-Internationalization converter. Please, let me know if you notice something wrong.

NIF File
[code]

Just in case you need it... Original XLIFF file
[code]

[2015-08-04 10:04] #1 closed, assigned to borriellom

[2015-08-18 21:04] m1ci opened #3 "e-Internationalization filter breaks e-Link"
E-Link does not work due to bug in the e-Internationalization filter. Following request:

[code]

does not work.

The problem is in the following line of code:
https://github.com/freme-project/Broker/blob/master/src/main/java/eu/freme/broker/tools/EInternationalizationFilter.java#L58

Bellow it the log from the server:

[code]

[2015-08-27 13:21] #3 closed, assigned to m1ci

[2015-08-28 11:38] jnehring opened #4 "e-Internationalization in action"
I used FREME to play around with a Bookmarklet written in Javascript: In the web browser you can select a text on any website and then click the button: It sends the text to e-Entity and inserts links in the website selection.

I wonder because of the way e-Internationalization handles offsets.

Input string `<strong>Usain Bolt</strong> saw off rival Justin Gatlin for a second time at the World At

[2015-09-08 07:38] fsasaki opened #5 "handling of inline markup"
Mail thread so far, see below. Please put links to discussions, examples etc. into this issue.
- Felix

Mail from Milan, 7 September:

Bellow I drafted simple example of how the text in HTML/XML markup can be represented in NIF together with a provenance information (nif:wasConvertedFrom) to the original HTML/XML document.

Your XML doc:
&lt;p>Welcome to &lt;strong>Turin!&lt;/strong>&lt;/p>

The c

[2015-09-16 14:02] #4 closed, assigned to m1ci

[2015-10-01 10:55] jnehring commented on #2
@borriellom  Can we close this issue? Or we ask someone else for help?

[2015-10-01 10:57] m1ci commented on #2
do you need help? I assumed this is already solved...

[2015-10-01 11:16] borriellom commented on #2
Yes, it's solved. Thank you.  I'm closing it right now.

[2015-10-01 11:16] #2 closed

[2015-10-02 09:40] borriellom opened #6 "Enable ODT input format"
Enable the ODT input format for the convertToTurtle method in EInternationalizationAPI class.

[2015-10-02 12:31] jnehring opened #7 "API for roundtripping"
* provide additional method in EInternationalizationAPI which takes enrichment+original file and provides the final output file as stream.
* provide additional method in EInternationalizationAPI which produces the NIF containing original markup.

[2015-10-13 15:31] jnehring commented on #7
I tried to make this work but I did not succeed. @borriellom  can you please add a unit test to the EInternationalizationAPITest.java that shows how to use the code to do the roundtripping?

I added some sample data for the unit test in a branch. The commit is attached to the issue. You can use this or you create a new one.

[2015-10-14 09:05] borriellom commented on #7
I changed the unit test "testRoundtripping" in the "EInternationalizationAPITest" class. It is committed in the unittest branch.

The workflow is described below.

1. Submit the original html file to the convertToTurtleWithMarkups method. It creates the skeleton file: the turtle file with the context including markups.
2. Save the skeleton file somewhere on the machine.
3. Submit the original html

[2015-10-14 09:11] jnehring commented on #6
Next step: Enable ODT in broker

[2015-10-15 12:27] jnehring commented on #7
Thanks this was helpful

[2015-10-15 12:27] #7 closed

[2015-10-15 12:44] jnehring commented on #6
Done. Example call:

[code]
The body contains an ODT document. In my example it used [this odt](https://github.com/freme-project/Broker/blob/master/src/test/resources/e-internationalization/odt-test.odt).

The response is

[code]

[2015-10-15 12:44] #6 closed

[2015-10-15 12:48] ysavourel commented on #7
Just an explanation: I think we do that to add the encoding declaration (so the translated file get the right encoding).

We probably should close it properly.
On the other hand, if <head> was added, it means the initial file wasn't quite valid already.

[2015-10-15 13:08] jnehring opened #8 "Okapi generates strange HTML"
@borriellom said in #7

While running the test I noticed that Okapi adds `<html>`,` <head>` and `<body>` tag even if the original document doesn't contain them. The `<head>` tag is not closed in the document generated by the roundtripping. I checked and I found out the Okapi adds this tag without closing it.
Moreover, the taConfidence property is not included in the final document. Is that propert

[2015-10-15 13:08] jnehring commented on #7
Yes true. I created #7 to discuss this.

[2015-10-16 12:24] jnehring opened #9 "Roundtripping for long html"
I was playing around with e-Internationalization on normal data. I took the html source of http://vistatec.ie and send it to FREME NER. When I use `informat=text/html` and `outformat=turtle` (conversion from html to NIF) then the call is very fast. But when I use `informat=text/html` and `outformat=text/html` (html roundtripping) then the api call gets a timeout after 30 seconds.

In the branch "l

[2015-10-16 12:31] jnehring opened #10 "Debug messages in e-Internationalization"
e-Internationalization creates a lot of debug messages. They do not use a logger but are printed directly to the console. Usually I dont complain about a few lines printed directly to the console but in e-Internationalization it is too much. It prints douzens / hundred of lines on the console so I get lost while working on the code.

Please print these information using a log4j logger and use log

[2015-10-16 12:58] borriellom commented on #10
Sorry, I totally agree with you. Those messages were for my testing purpose. Usually I remove all of  them, but this time I forgot. I'm going to delete them

[2015-10-19 11:52] borriellom opened #11 "HTML enrichment of tag attributes"
I have just realized about a problem with HTML files converted to NIF by Okapi.
Some tag attributes (i.e. content in meta tag, alt in img tag) are considered as text units by Okapi and they are included in the context of the NIF file.
Once the NIF file is enriched, when converting back to the original HTML file, it could happen that some attributes have been enriched, thus creating an invalid HTML

[2015-10-19 11:54] borriellom commented on #9
It's not too slow. There was a bug and with this html it executed an infinite loop at some point.
I also fixed other small issues. Changes have been committed in the master branch.
While fixing the bug I found out a new issue: #11

[2015-10-19 11:55] borriellom commented on #10
Debug messages deleted

[2015-10-19 12:03] ysavourel commented on #11
I think you should be able to see where the text unit is coming from in the `restype` attribute. For example the `restype` value for the keywords content is probably `x-content`.

[2015-10-19 13:13] jnehring commented on #10
Thanks

[2015-10-19 13:13] #10 closed

[2015-10-19 13:22] borriellom commented on #11
Thank you Yves. I checked, but I always receive TextUnit events with type field set to null.

[2015-10-19 14:26] jnehring commented on #9
I tested it and now it works fine and fast. Thank you!

[2015-10-19 14:26] #9 closed

[2015-10-19 14:50] ysavourel commented on #11
Ah, with the ITS/HTML5 Filter that is possibly right. (I was thinking about the default HTML Filter).

Well I guess we should modify the ITS/HTNL5 filter to try to fill in the type. It's curious that it is not done already. Maybe there is a reason.

[2015-10-23 11:12] m1ci opened #12 "[test] HTML is extended with unnecessary elements"
When submitting following request

    curl -X POST --header "Content-Type: text/html" --header "Accept: text/html" -d "<p>Welcome to Berlin, the capital of Germany.</p>" "http://api-dev.freme-project.eu/current/e-entity/freme-ner/documents?language=en&dataset=dbpedia&mode=all" -v

where the input is:

    <p>Welcome to Berlin, the capital of Germany.</p>

... the result is:

    <html><head><body

[2015-10-23 11:25] m1ci opened #13 "[test] incorrect error message"
For

    curl -X POST --header "Content-Type: text/turtle" --header "Accept: text/html" -d @test-e-link.txt "http://api-dev.freme-project.eu/current/e-link/documents?templateid=1" -v

and the data: [test-e-link.txt](https://github.com/freme-project/e-Internationalization/files/19299/test-e-link.txt)

...the results is:
[code]

The error should be formated same as the errors of the other services -

[2015-10-23 11:25] m1ci opened #14 "[test] not clear what combinations of input/output formats are valid"
I send turtle to e-Link and request the results in HTML. I'm not sure if this combination is considered but if not, then this should be clearly stated in the documentation.

The request is:

    curl -X POST --header "Content-Type: text/turtle" --header "Accept: text/html" -d @test-e-link.txt "http://api-dev.freme-project.eu/current/e-link/documents?templateid=1" -v

The turtle is: [test-e-link.tx

[2015-10-23 11:31] m1ci opened #15 "[test] confidence information returned by e-Entity is not included in the HTML output"
curl -X POST --header "Content-Type: text/html" --header "Accept: text/html" -d "<p>Welcome to Berlin, the capital of Germany.</p>" "http://api-dev.freme-project.eu/current/e-entity/freme-ner/documents?language=en&dataset=dbpedia" -v

E-Entity also returns confidence scores for the entities, however this information is not included in the HTML/ITS output.

The result is:

    <html><head><body><p>

[2015-10-23 11:42] m1ci opened #16 "[test] improve documentation for e-Internationalization"
The documentation at http://api-dev.freme-project.eu/doc/knowledge-base/eInternationalization.html is not sufficient.

Already in the beginning is should be clear what e-Internationalization does and how. Some points to cover
- it is not an individual service, but it is indirectly used via the other services
- already in the beginning include example and explicitly explain that this is not stand a

[2015-10-23 11:56] m1ci opened #17 "[test] Translating HTML with e-Translation, output turtle"
The request is:

    curl -X POST --header "Content-Type: text/html" --header "Accept: text/turtle" -d "Welcome to Berlin." "http://api-dev.freme-project.eu/current/e-translation/tilde?source-lang=en&target-lang=de" -d @test-html.txt -v

where test-html.txt is [test-html.txt](https://github.com/freme-project/e-Internationalization/files/19314/test-html.txt)

The result in turtle is

[code]

The HT

[2015-10-23 12:05] m1ci commented on #17
sorry for the noise. My mistake with the request.

[2015-10-23 12:05] #17 closed

[2015-10-23 12:10] m1ci opened #18 "[test] translate="no" is not correctly considered"
I sent the request:

curl -X POST --header "Content-Type: text/html" --header "Accept: text/turtle" "http://api-dev.freme-project.eu/current/e-translation/tilde?source-lang=en&target-lang=de" -d @test.html -v

Where the HTML is

    <html><head><body><p>Welcome to <span its-ta-ident-ref="http://dbpedia.org/resource/Berlin">Berlin</span>, the <span translate="yes">capital</span> of <span its-ta-ide

[2015-10-23 12:14] m1ci opened #19 "[test] unclear behaviour of the translate property"
if the property "translate" is not set, then the whole text is being translated?

[2015-10-23 12:27] m1ci opened #20 "[test] typo in the e-Internationalization description"
In http://api-dev.freme-project.eu/doc/knowledge-base/eInternationalization.html
there is following typo:
[code]

[2015-10-23 12:29] m1ci opened #21 "[test] use of proper terminology: ITS properties and not ITS tags"
This can be read in the section "Note on ITS tags" in http://api-dev.freme-project.eu/doc/knowledge-base/eInternationalization.html

[2015-10-23 12:35] m1ci opened #22 "[test] how dc:identifier is used in rountripping HTML-NIF-HTML"
For an HTML

[code]

You create following NIF:

[code]

- What is the purpose of `dc:identifier`? It is a pointer to some your back-end mapping rule?
- How do you convert back this content to HTML?
- How do I know that "Welcome to Dublin" is in the &lt;p&gt; element?
- Why the source content (the HTML) is conveyed along with the NIF?

[2015-10-23 12:38] m1ci opened #23 "[test] invalid NIF in the examples"
In http://api-dev.freme-project.eu/doc/knowledge-base/eInternationalization.html the last NIF example (related to roundtripping) is invalid

The NIF is:

[code]

1)  the object value of nif:referenceContext should be URI not literal
2) the correct name is nif:referenceContext, not nif:ReferenceContext

[2015-10-26 07:14] fsasaki commented on #15
Agree with the comment from @m1ci . Also, one may want to add information about the tool that produced the annotation. See
http://www.w3.org/TR/its20/#its-tool-annotation
and example 24 in that section.

[2015-10-27 09:30] jnehring commented on #13
The error originates from the broker. I will take care for it.

[2015-10-27 09:32] jnehring commented on #14
@borriellom please add a line to the [e-internationlization documentation](http://api-dev.freme-project.eu/doc/knowledge-base/eInternationalization.html) that states that roundtripping only works when the input format is equal to the output format.

[2015-10-27 09:33] jnehring commented on #16
I agree with these points.

[2015-10-27 10:42] borriellom commented on #23
Committed changes to the e-Internationalization and Documentation repositories.

[2015-10-27 10:52] borriellom commented on #22
We thought about the `dc:identifier` property during a call about NIF conversion. We agreed that it could be useful for XLIFF roundtripping: it keeps trace of the related translation unit. It has no any relevant meaning while converting HTML files.

This content is converted back to HTML by using the NIF file having markups in the context.
This is the markups NIF file generated with that HTML (I a

[2015-10-27 10:53] borriellom commented on #21
I'm not so sure what to do. Shall I simply replace the word "tags" with the word "properties" in the documentation?

[2015-10-27 10:55] borriellom commented on #20
That's not a typo. It's the reference to an image. I don't why it's not properly displayed when the md file is converted to HTML.

[2015-10-27 10:58] borriellom commented on #19
Where did you read about that property? Is it the ITS translate? That ITS category is not supported by e-Internationalization.

[2015-10-27 10:59] borriellom commented on #18
ITS translate property is not currently supported by e-Internationalization.

[2015-10-27 11:08] borriellom commented on #12
This is a behavior generated by Okapi. See issue #7

[2015-10-27 11:36] borriellom commented on #15
I committed the change. Please, check if it's working now.

[2015-10-27 11:54] m1ci commented on #21
yes, please. This is just a suggestion

[2015-10-27 11:55] borriellom commented on #21
Ok, I'll do it.

[2015-10-27 11:56] m1ci commented on #12
oh, yes, closing this issue since it is already documented in https://github.com/freme-project/e-Internationalization/issues/8

[2015-10-27 11:56] #12 closed

[2015-10-27 12:00] m1ci commented on #18
thanks for clarification,
1) but e-Internationalization can be used with e-Translation, right?

Refering to http://api-dev.freme-project.eu/doc/knowledge-base/eInternationalization.html#note-on-its-tags - it can be good also to state what ITS properties are considered by e-Internationalization in addition to the information what is not supported.

[2015-10-27 12:36] jnehring commented on #20
@josauder can you please check whats wrong here?

[2015-10-27 13:48] m1ci commented on #19
Yes, its part of ITS translate. This is related to https://github.com/freme-project/e-Internationalization/issues/18

Closing the issue because ITS translate data category is still not supported.

[2015-10-27 13:48] #19 closed

[2015-10-27 13:51] m1ci commented on #15
yes, well done!
Posting the new result
[code]

[2015-10-27 14:10] m1ci commented on #22
OK, thanks for the reminder.

The NIF context containing the source markup is not returned. Why?

The same as the question above. Why the NIF context containing the markup is not returned?

[2015-10-27 14:13] fsasaki commented on #15
Sorry to be picky ... but would be possible to also add the tool information? That would then look like this
<html its-annotators-ref="text-analysis|http://www.freme-project.eu/freme-ner">
   <head>
   <body>
      <p>Welcome to <span its-ta-ident-ref="http://dbpedia.org/resource/Berlin" its-ta-class-ref="http://nerd.eurecom.fr/ontology#Location" its-ta-confidence="0.7909971166830088">Berlin</span

[2015-10-27 14:38] jnehring commented on #15
I think that we would need to add this information to the output of FREME NER before we can put it in the HTML. And when we add it to the NIF produced by FREME NER then we should also add it to the NIF produced by all other e-Services. We create a new issue for that?

[2015-10-27 14:43] jnehring commented on #22
We could include it in the NIF response. I thought we create two separate NIF documents and thats why I did not merge the two NIF documents before returning it to the user. Also it is unclear to me which URI we use for this information.

[2015-10-27 14:59] borriellom commented on #15
I agree with Jan. That information should be included in the NIF file produced by FREME NER. Then it can be converted to HTML.

[2015-10-27 15:11] borriellom commented on #22
We agreed to produce two different NIF files, because we needed two contexts: one including markups and one containing only plain text. The reason was because FREME e-Services cannot deal with a NIF file having two contexts. Moreover, since the context including markups is only needed for performing the round-tripping (it is not relevant for the final user), it is not returned by the service and i

[2015-10-27 15:27] jnehring commented on #13
Solved. Please check and close if the error is solved.

[2015-10-27 17:21] borriellom commented on #21
Done.

[2015-10-27 17:22] borriellom commented on #16
New version of e-Internationalization just committed. Please, let me know if it's clearer now and feel free to correct my English!

[2015-10-27 23:30] fsasaki commented on #15
ok - in which repro should this issue be created? the broker?

[2015-10-27 23:48] fsasaki opened #24 "XLIFF roundtripping output question"
Hi created with the input file originalXliff1.2 and the two attached requests the attached output files. They contain some placeholder and are not valid XLIFF. Is this an issue of the request or a bug?
Note: the curl request says @originalXliff1.2.xlf for the file, the attached file is originalXliff1.2.txt since github does not allow to upload files with xlf extension.
[originalXliff1.2.txt](https

[2015-10-28 00:13] fsasaki opened #25 "XML processing: is it possible to select what parts should be enriched?"
Is it possible to identify in an XML document the parts that should (not) be enriched? I am asking since many XML formats contain fields that are not suitable for enrichment. See attached ONIX file, the related request and output.
[onix-input.txt](https://github.com/freme-project/e-Internationalization/files/22092/onix-input.txt)
[request3.txt](https://github.com/freme-project/e-Internationalizati

[2015-10-28 07:24] m1ci commented on #15
1) IMO, this issue should go the e-Entity service, but also such issue should be opened for e-Translation and e-Terminology.

2) the "its-annotators-ref" should be specified at the annotation level (&lt;span&gt;), and not "sentence" level. Reason: single content, can be processed by multiple e-Services and the result annotations and this might cause problems in decoding the provenance.

3) in futu

[2015-10-28 08:52] borriellom commented on #24
Hi Felix, unfortunately the roundtripping functionality is only available for HTML files. Using other formats can produce unexpected results.

[2015-10-28 09:04] m1ci commented on #22
OK, makes sense.

Indeed. I think we should use hash values generated out from the content. In NIF, the URIs for String can be 1) "Offset Based Strings" - this is what we are using now, and also 2) "Context Hash Based String" - remain more robust regarding document changes. See the guidelines how they are constructed: http://jens-lehmann.org/files/2012/ekaw_nif.pdf (page 4).

In some scenarios, th

[2015-10-28 09:07] m1ci commented on #13
works.

[2015-10-28 09:07] #13 closed

[2015-10-28 09:44] jnehring commented on #22
#### Regarding UUIDs in general

We could also use Javas unique ID generator: [java.util.UUID Java API Doc](http://docs.oracle.com/javase/7/docs/api/java/util/UUID.html) and a [short tutorial](http://www.javapractices.com/topic/TopicAction.do?Id=56). We use this technique to generate tokens. FREME tokens are actually java UUIDs.

The advantage of UUIDs over hash values are that they are truly uniq

[2015-10-28 10:02] jnehring commented on #15
I created a new issue https://github.com/freme-project/technical-discussion/issues/83 because of the `its-annotators-ref` property for all e-Services. I added @m1ci comments to the new issue.

This issue here started with missing confidence values and this is solved. So I close this issue.

[2015-10-28 10:02] #15 closed

[2015-10-28 10:07] m1ci commented on #22
Thanks for the proposal Jan. Personally, I don't like the idea of using UUID for the main reason that it is not compatible with the NIF spec. We should stick to the NIF spec.

I suggest using "hash based" URIs with a unique prefix base for the URI.
Example http://freme-project.eu/doc1/#hash_0_30_067e61623b6f4ae2a1712470b63dff00

Where the `http://freme-project.eu/doc1/` is unique part proposed by

[2015-10-28 11:29] borriellom commented on #25
I'm not an expert of XML files. I think that if we agree on a special attribute, I can discard those text units embedded in a tag with such attribute. The final result would be that those text units are not inserted in the final NIF file and therefore they won't be enriched.

Anyway I don't know if defining such an attribute is feasible.

[2015-10-28 12:03] fsasaki commented on #24
Hi Marta - in the example that you created a few weeks ago roundtripping
was possible for for XLIFF 1.2 and 2.0. Why is that not possible via
e-internationalisation?

2015-10-28 17:52 GMT+09:00 borriellom <notifications@github.com>:

[2015-10-28 12:08] fsasaki commented on #25
If that is feasible for your workflow, I would suggest the following: allow
an XPath expression (including setting of XML namespace prefixes) that
selects what parts should be used for enrichment. The user would provide
that XPath erpression calling e-Internationalisation.
The approach
"text units embedded in a tag with such attribute."
would require changing the XML content itself - this is proba

[2015-10-28 12:36] borriellom commented on #24
Hi Felix, it wasn't roundtripping. Those files have been managed with Ocelot. They were opened, enriched and then saved in Ocelot. The XLIFF file is not converted to NIF, but single Ocelot segments are submitted to FREME as plain text. Actually we were dealing with the issue of how saving enrichment annotations in XLIFF files.
Please, let me know if you need further information.

[2015-10-28 13:02] fsasaki commented on #24
Thanks, Marta, that is very helpful. I would like to have roundtripping for XLIFF and general XML in FREME too - I think this is an important value proposition for FREME in general. I understand that this is not in scope for your work on e-internationalisation, and that is fine. So this is just a heads up that we will come back to this later. Let's keep this issue open so that we won't forget. Als

[2015-10-29 01:18] fsasaki opened #26 "Calling e-internationalisation independently?"
Is it posible to call e-internationalisation independently? That is, without calling e-Entity etc. The use case is that one may want to convert XML or other content to a NIF representation and process this also outside of specific FREME services.

[2015-10-29 09:31] m1ci opened #27 "Whitelabel Error Page error when submitting large HTML"
When submitting

    curl -X POST --header "Content-Type: text/html" --header "Accept: text/html" -d @test.html "http://api-dev.freme-project.eu/current/e-entity/freme-ner/documents?language=en&dataset=dbpedia&mode=all" -v

with [this file](https://drive.google.com/open?id=0B-qMtkPK-unYUmhVWWFtMUNrV0U).

We get

[code]

[2015-10-29 10:09] jnehring commented on #26
One can use the Java API exposed by the e-Internationalization repository to do so. It is possible, but not documented. There are some unit tests that show how to do it.

[2015-10-29 13:07] fsasaki commented on #26
Understand, but for the freme services to make this useful we would need a rest api call. Let's keep this open and give it a thought.

[2015-10-29 13:15] jnehring commented on #26
Ah no I see what you mean. I misunderstood you in my first answer.

We could implement an anything to NIF converter e-Service. This REST endpoint can convert plaintext and all formats accepted by e-Internationalization to NIF. We talked about this because on the Lider datathon people asked me for this functionality.

[2015-10-29 13:58] fsasaki commented on #26
+1 one, good idea.

2015-10-29 22:15 GMT+09:00 Jan Nehring <notifications@github.com>:

[2015-10-29 14:44] jnehring commented on #27
I could reproduce the error. I traced it down to the e-Internationalization codes. So I created a [unit test in e-Internationalization](https://github.com/freme-project/e-Internationalization/blob/master/src/test/java/eu/freme/i18n/okapi/api/EInternationalizationAPITest.java#L281-L282) that reproduces the error. Remove the comments and run the tests to see the error.

@borriellom please take a loo

[2015-11-02 11:36] josauder commented on #20
The mistake was that https://github.com/freme-project/Documentation/blob/master/img/odtFile.png is not an image file, but a GitHub page which contains the image. I fixed it with the latest commit.

[2015-11-02 11:36] #20 closed

[2015-11-03 07:59] fsasaki opened #28 "Segmentation issue for HTML roundtripping"
[request4.txt](https://github.com/freme-project/e-Internationalization/files/25920/request4.txt)
[out4.txt](https://github.com/freme-project/e-Internationalization/files/25919/out4.txt)
[html-in.txt](https://github.com/freme-project/e-Internationalization/files/25918/html-in.txt)
The attached request with the attached html input leads to segementation issues. E.g. "Yves Desmet" is correctly recogn

[2015-11-03 09:23] borriellom commented on #23
Please check if it's ok now.

[2015-11-03 09:23] borriellom commented on #21
Please check if it's ok.

[2015-11-03 09:25] borriellom commented on #18
Can I close this issue? It's not a bug. The documentation states that ITS Translate category is not supported

[2015-11-03 09:26] borriellom commented on #18
Can I close this issue? The documentation states that the ITS Translate category is not supported

[2015-11-03 09:27] borriellom commented on #14
Documentation changed. Please, check if it's ok.

[2015-11-03 09:44] m1ci commented on #23
Its ok. Thanks.

[2015-11-03 09:44] #23 closed

[2015-11-03 09:52] m1ci commented on #14
Why not allowing input: HTML, output: NIF?... yes this is not round-tripping but, I can then use the NIF, do smth with it, and convert it back to HTML. For such scenarios, input and output format should not be the same.

It can be good to highlight (put in bold) the part saying: "This is a general rule when performing the round-tripping: input and output formats must be the same". Otherwise, the d

[2015-11-03 09:55] m1ci commented on #18
in addition to what is NOT supported, it can be good to state also what IS supported.

[2015-11-03 09:56] m1ci commented on #14
Also, I dont think the statement "roundtripping only works when the input format is equal to the output format" is true. To me it worked HTML to Turtle. See the example in https://github.com/freme-project/e-Internationalization/issues/18

[2015-11-03 09:57] m1ci commented on #21
OK. Well done.

[2015-11-03 09:57] #21 closed

[2015-11-03 10:19] m1ci commented on #16
thanks Marta, some comments:

thanks for adding this info. To avoid confusion I suggest removing the word "service" from the 2nd sentence "The e-Internationalization service let users..."

OK.

This seems its not done. Since the service is all about round-tripping I suggest moving "Round-tripping: how does it work?" between the first examples.

OK.

OK.

OK.

There is info on what is NOT support,

[2015-11-03 14:35] borriellom commented on #27
Fixed.
I have also committed the file `long-html-enriched.ttl` for the unit test.
I made some changes in the NIF generation process as well. This file has been generated by converting the HTML file to NIF and then by enriching it through the FREME NER service.

Please, check if it works now.

[2015-11-03 14:35] borriellom commented on #28
Fixed. Please, check if it works now.

[2015-11-03 15:00] fsasaki commented on #28
works, thanks!

[2015-11-03 15:00] #28 closed

[2015-11-04 10:50] borriellom commented on #16
Done. I think I didn't miss any point this time.

[2015-11-04 10:56] m1ci commented on #16
thanks, looks great!

[2015-11-04 10:56] #16 closed

[2015-11-04 10:57] borriellom commented on #14
Yes, it works from HTML to Turtle, but it's not round-tripping.
In this scenario you are simply invoking a FREME e-Service over a HTML file. The result is turtle as usual. Its explained in the first part of documentation, where I talk about the conversion to NIF.

The actual round-tripping is performed only if input and output formats are the same. That doesn't mean that e-Internationalization ret

[2015-11-04 10:59] borriellom commented on #18
Done.

[2015-11-04 10:59] m1ci commented on #14
ok ,thanks for clarification

[2015-11-04 10:59] #14 closed

[2015-11-04 10:59] #18 closed

[2015-11-05 08:09] fsasaki opened #29 "Tutorial example for e-Internationalization and e-Link does not work"
I tried the example at
http://api-dev.freme-project.eu/doc/knowledge-base/eInternationalization.html
"This example shows how to invoke the e-Link service over a HMTL file. ... HTML file containing an entity"
I get back the attached TTL file, which contains no e-Link information.
[temp-enrichment.txt](https://github.com/freme-project/e-Internationalization/files/27807/temp-enrichment.txt)
Not sure

[2015-11-05 09:13] borriellom commented on #29
Fortunately it's not a bug. The request used in the documentation refers to the last deployed version, that is FREME 0.3 at the moment. That request will work when FREME 0.4 is deployed.
At the moment you can try with the current development version, by using the cURL request below

[code]

[2015-11-05 09:17] fsasaki commented on #29
Ah, you are right - sorry for the confusion, works fine with the development version.

[2015-11-05 09:18] #29 closed

[2015-11-06 11:53] pheyvaer commented on #27
Still not working when executing the code from @m1ci. It downloads a part of the result it seems, but then it stops and after a while you get a time out.

[2015-11-06 12:14] borriellom commented on #27
The result is complete, I don't know why it tries to read further bytes. @jnehring  do you think it could be an issue in the broker? Smaller files work fine.

[2015-11-06 12:18] jnehring commented on #27
Today the bugfixing period of FREME 0.4 finished. I am currently preparing the release. We have to take this bug into the live version of FREME 0.4.

So we will fix this bug in FREME 0.5

[2015-11-13 15:43] ghsnd commented on #11
For us, [this method](https://bitbucket.org/okapiframework/okapi/src/8aa39fcb9977e5cf8e96b566bddbdfc89efa78b5/okapi/filters/its/src/main/java/net/sf/okapi/filters/its/ITSFilter.java?at=master&fileviewer=file-view-default#ITSFilter.java-681) can be the place to fill in the `type` of the TextUnit `tu`, *in case it's an attribute*. This could just be a quick fix, not a solid solution.

[2015-11-17 11:44] jnehring commented on #27
There was an additional bug in the broker that prevented long HTML from being properly processed. I created a bugfix. Now I can process @m1ci's request. Further I created an integration test using @m1ci's request.

@m1ci and @pheyvaer please test and close the issue in case it is resolved.

[2015-11-17 12:53] pheyvaer commented on #27
Works for me.

[2015-11-18 08:12] m1ci commented on #27
works for me too.

[2015-11-18 08:12] #27 closed

[2015-12-03 07:42] jnehring commented on #8
dublicate

[2015-12-03 07:42] #8 closed

[2015-12-09 14:19] ghsnd commented on #11
So here's the method:

[code]

Especially the line:

[code]

creates a TextUnit without the `type` field filled in. Since we know it is from an attribute, we could do something like:

    tu.setType("...");   // where "attribute" could be filled in. But I don't know the right type for attribute.

Then later, in `eu.freme.i18n.okapi.nif.filter.NifWriterFilter` this can be used to check if the text

[2015-12-09 15:51] ysavourel commented on #11
The setType() call has been added (in the latest dev branch).
See https://bitbucket.org/okapiframework/okapi/commits/92bd02d6b893c4c8bf825978a156dfb57aea4c83

[2015-12-10 07:22] ghsnd commented on #11
Thanks a lot!

[2015-12-10 09:55] ghsnd commented on #11
OK, so here's how you can fix the issue.

### install the dev version of Okapi
[code]
This installs the latest dev branch on your local maven repo

### Check out branch issue_11
Check out branch issue_11 of e-Internationalization. There you see modifications in the `pom.xml` and in `eu.freme.i18n.okapi.nif.step.NifWriterStep`. They fix the issue, but **I leave it to the experts of Vistatec** to re

[2016-01-05 15:00] fsasaki opened #30 "Handling of empty elements during roundtripping"
Empty HTML elements are not handled properly. See attached input and output. The span elements are empty in the input and in the output they contain text content.
I browsed the code, the issue may be here
https://github.com/freme-project/e-Internationalization/blob/master/src/main/java/eu/freme/i18n/okapi/nif/converter/HTMLBackConverter.java
This may not have handling of empty elements.

[input.tx

[2016-01-07 09:04] borriellom commented on #30
Thank you for reporting this. I'll have a look as soon as possible.

[2016-01-08 08:35] jnehring opened #31 "e-Internationalization adds unnecessary tags"
Moved from https://github.com/freme-project/technical-discussion/issues/92 to this repo.

The HTML5 roundtripping changes html content in some cases.

e.g. this curl request
curl -X POST --header "Content-Type: text/n3" --header "Accept: text/n3" "http://api.freme-project.eu/0.4/e-entity/freme-ner/documents?input=%3Cp%3Ehello%20world%3C%2Fp%3E&informat=text%2Fhtml&outformat=text%2Fhtml&language=en

[2016-01-08 09:08] borriellom commented on #31
We should try to find a workaround. I think that this is the way Okapi works, because it is meant to work on complete documents and not on snippets.
The alternative option would be writing new code acting similar to Okapi and capable to manage snippets of documents.

[2016-01-08 11:37] ysavourel commented on #31
We could probably have an option in Okapi to not generate the missing code.
I'll try to look at it this week-end.

[2016-01-08 12:11] ysavourel commented on #31
I've looked at the HTML5 code quickly and I see where we add the `<!DOCTYPE html>` part, but not the `<html>`, etc. parts.
That may come from the underlying HTML5 library (nu.validator.htmlparser).

[2016-01-08 12:35] fsasaki commented on #31
@sideshowbarker said: the validator.nu html parser will parse the source into an event stream that includes the head/body and </p> end tags, etc.. The parser if used by itself with its DOM API will always construct a DOM that includes the head/body and </p> end tags, etc. Any conforming HTML parser will do that always. It is required by the HTML spec. For the workflow discussed in this issue there

[2016-01-18 16:41] borriellom commented on #11
I reviewed the changes made by @ghsnd. They are fine! In order to make round-tripping work, I made further changes in the `NifSkeletonWriterFilter` and `NifSkeletonMarkerHelper`. I also edited the expected file in the `eu.freme.i18n.okapi.api.EInternationalizationAPITest#testEInternationalizationAPIHTML` test.

Changes have been committed in the branch `issue_11`.

[2016-01-20 10:23] borriellom commented on #30
I've found out that the problem lies in the `nu.validator.htmlparser.dom.HtmlDocumentBuilder`. When parsing this document, it returns a hierarchy of nodes where
 * the text "Welcome to the city of " is child of the first &lt;span&gt; element;
 * the second &lt;span&gt; element is child of the first &lt;span&gt; element;
 * the text "Berlin!" is child of the second &lt;span&gt; element.

This means

[2016-01-20 11:57] fsasaki commented on #30
Thanks for checking, @borriellom . I'll see if @sideshowbarker has any suggestions what to do.

[2016-01-20 13:27] sideshowbarker commented on #30
So to be clear, the input source being discussed here is this:
[code]

If so, that’s an unintentional bug in `nu.validator.htmlparser.dom.HtmlDocumentBuilder`. But I am somewhat doubtful it’s actually doing what’s described above.

That doesn’t match the behavior of the htmlparser code that I see in the W3C validator where it’s used, nor in the Firefox gecko engine where it’s used.

cc’ing @hsivon

[2016-01-20 14:13] borriellom commented on #30
Maybe the following could be helpful in understanding what's going on.
I simply invoked the "parse" method from the HtmlDocumentBuilder class by passing as parameter the file provided by Felix. By inspecting the document returned by the method, I found that the node hierarchy was wrong and it is exactly what I described in the comment above. In more detail, in the right hierarchy the span nodes sh

[2016-01-21 07:05] fsasaki commented on #30
To check this further I tried the standalone version of the HTML parser, see
https://about.validator.nu/htmlparser/
https://about.validator.nu/htmlparser/htmlparser-1.4.zip
calling the parser with the input file e.g. via
 java -cp htmlparser-1.4.jar nu.validator.htmlparser.tools.HTML2HTML in.html
gives me the output that @sideshowbarker described. @borriellom , maybe the reason for the differences

[2016-01-21 09:54] borriellom commented on #30
I apologize, I've realized I was trying with the following input:

[code]

In this case the behaviour is that I described in my previous comments. With the input from Felix it works. I'll continue investigating to spot the error.

[2016-01-21 12:21] borriellom commented on #11
I finally spotted the error! It was in okapi ITSFilter.
In both methods `addStartTagToSkeleton` and `addStartTagToFragment` there was a line of code closing the tag only if it is not HTML5 and it doesn't have children.

[code]

In both methods I added an else branch for dealing with HTML5 tags having no children.

[code]

I built Okapi with my changes and tried to execute the round-tripping on the

[2016-01-21 12:27] ysavourel commented on #11
Will do. Thanks for debugging and finding the error.

[2016-01-21 12:33] fsasaki commented on #11
cool! So it looks like this will also close issue #30 .

[2016-01-21 13:35] ysavourel commented on #11
Just to be clear: Marta's fix works when the input is:

    <span class="test1"></span>Welcome to...

not with:

    <span class="test1" />Welcome to...

In that case we do get the `span` node with the a child node: The text that should be coming after. And Marta's fix (correctly) won't be triggered since the element is not empty.

[2016-01-21 14:04] borriellom commented on #11
Yes, my fix only works with

[code]

[2016-01-21 14:21] fsasaki commented on #11
Thanks & that is ok, the example document attached to #30
https://github.com/freme-project/e-Internationalization/files/78541/input.txt
also uses the syntax that you mention, with an explicit closing tag for the empty element.

[2016-01-21 15:58] borriellom commented on #11
I've just realized that today I wrote my comments in issue 11. They are related to #30. Sorry about that.

[2016-01-21 16:06] ysavourel commented on #30
The fix is good, but it had side effects: things like `<meta>` are now output `<meta></meta>`, and that is invalid HTML5. Void elements such as `<meta>` must not have an end-tag (See https://www.w3.org/TR/html-markup/syntax.html#void-element)

One solution is to close the empty element with `/>` instead of `</elemname>`, I think that would be Ok since a start-tag is defined as a tag that can have

[2016-01-21 16:44] ysavourel commented on #30
On a second thought going for `<meta/>` may not be very nice as it'll change (without good reason) the syntax of many files. So we could just do `<elemname>` for void elements.

[2016-01-21 17:24] fsasaki commented on #30
I would suggest to have a check for the element name. If it is in the list of void elements, have no no end tag; if not, have the end tag. So you can differentate <meta> from <span></span>. In that way the output would be "clean" HTML5 syntax. The code gets a bit longer but not that much -
https://www.w3.org/TR/html-markup/syntax.html#void-element
is  a small list after all.

[2016-01-21 18:28] ysavourel commented on #30
I did as suggested by Felix.
The change is here: https://bitbucket.org/okapiframework/okapi/commits/b057427ef030668fc35f0f6ec68ad6d77f5859bc#chg-okapi/filters/its/src/main/java/net/sf/okapi/filters/its/ITSFilter.java and the maven snapshot repository should get re-build in about 12 hours.

[2016-01-27 07:38] fsasaki commented on #11
Is this fixed, @borriellom ? Just asking because I would like to demo the functionality at the XML Prague conference as part of our presentation. I just tried with the developers API and I still got enriched attributes.

[2016-01-27 07:48] fsasaki commented on #30
Same question as in #11. I tried to check the state of #30 with the attached input and the attached request. The attached output now also has the issue that attributes are dublicated. @borriellom , could you have a look?
[in.txt](https://github.com/freme-project/e-Internationalization/files/106202/in.txt)
[out.txt](https://github.com/freme-project/e-Internationalization/files/106203/out.txt)
[run.

[2016-01-27 09:17] borriellom commented on #30
Yes, there is an occurrence of the `its-ta-class-ref` attribute for each value returned by the FREME NER service. Is the syntax not correct? Please, let me know how attributes with multiple values should be written, and I'll change the code properly as soon as possible.

[2016-01-27 09:19] borriellom commented on #11
It is fixed on the branch issue_11. It will be fixed in the deployed version when the branch will be merged with the master.

[2016-01-27 10:15] fsasaki commented on #30
Thanks for the explanation in #11, Marta. The ITS  spec does not specify this, unfortunately. I would suggest to write just one attribute and have in the attribute a space separated list of values.

[2016-01-27 10:34] borriellom commented on #30
Thank you Felix, I'll do that.

[2016-01-27 12:00] pheyvaer commented on #11
@borriellom Do you have any idea when this will happen?

[2016-01-27 12:18] borriellom commented on #11
I don't know. I wanted to wait for Jan, but I think we can merge as soon as possible, if it's necessary.

[2016-01-27 12:31] m1ci opened #32 "no presence of its-tool-ref property"
In the results provided in the https://github.com/freme-project/e-Internationalization/issues/30#issuecomment-175468814 there is no presence of the its-tool-ref property. Not sure if this has been considered/implemented already, but I think its good to highlight that.

[2016-01-27 12:42] borriellom commented on #32
It is neither implemented nor considered at the moment. As now I'm changing the code for fixing the multiple attributes issue  (see comments in #30), I'm going to check if I can easily add this property as well.

[2016-01-27 12:44] m1ci commented on #32
OK, thanks for clarification. Lets leave this issue open for the time being.

[2016-01-27 12:54] m1ci commented on #25
@fsasaki addressing content with XPath is fine, but that would work only with XML and XML based formats, but not RDF/NIF.
What about introducing ITS and corresponding NIF property for selection of elements for processing? Then, it can be re-used in XML/ITS but also in RDF/NIF.
What do you think?

[2016-01-27 13:11] fsasaki commented on #25
Hi Milan, on
"What about introducing ITS and corresponding NIF property"
this makes sense too, but from the XML people it is a different use case. E.g. in an XML file like this
http://mariage.uvic.ca/anth_doc.xml?id=la_femme_battant
you may want to process only the "p" elements with FREME. So it makes sense not to send the whole file to FREME, which would also slow down the FREME / NIF processing.

[2016-01-27 13:20] fsasaki commented on #25
Just to give an idea how the preprocessing works using XPath via XSLT, see here
http://fsasaki.github.io/stuff/freme-xml-processing-example/
the demo allows to process TEI (XML relevant for digitial humanities) with FREME. The XML processing is done via a XSLT pre-processing step

[2016-01-27 13:26] m1ci commented on #25
Very nice demo!
As for the new property proposal - If I understand well the use case, by using XPath there is no need to intervene in the XML (add instruction properties what to and what not to process). Yes, this makes sense to me.

And yes, I agree, this is smth for the batch processing tool.

[2016-01-27 14:47] borriellom commented on #30
The issue is fixed (both empty elements and multiple valued attributes). I've just committed the changes on master branch. I also edited the POM file, so that now it points to the last Okapi SNAPSHOT version and we can use Yves' changes.
Many thanks to @ysavourel, now empty elements in HTML5 are properly managed by Okapi.

[2016-01-27 14:50] borriellom commented on #32
The issue #30 is fixed now. I couldn't insert this property because I don't know how to use it. I thought it was a simple conversion from a NIF property to a HTML attribute. So I agree, let's leave this issue opened for now.

[2016-01-27 15:07] fsasaki commented on #30
Great, thanks a lot, @borriellom and @ysavourel .

[2016-01-27 15:07] fsasaki commented on #11
Thanks a lot for fixing #30, Marta. One question: is this issue #11 still waiting for a fix? Just asking on
"Some tag attributes (i.e. content in meta tag, alt in img tag) are considered as text units by Okapi"
Processing HTML with e-Internationalisation I still get attribute value processing, it seems.

[2016-01-27 15:18] borriellom commented on #11
It is fixed but still not available on the deployed version. It will be available after the merge between master and issue_11 branches.
I've just issued a pull request. I just wanted a confirmation from Jan before proceeding with the merge. Anyway if you are keen to have all issues fixed on the master branch I can merge them right now. Just let me know.

[2016-01-27 15:40] fsasaki commented on #11
Thanks, Marta. OK by me to wait for Jan next week.

[2016-01-27 16:46] fsasaki commented on #30
@borriellom , I just tried this and still got a strange behaviour of empty elements and duplication of attributes. Is my request

curl -X POST --header "Content-Type:text/html" -d @temp/tei-as-html.html "http://api.freme-project.eu/current/e-entity/freme-ner/documents?informat=text%2Fhtml&outformat=text%2Fhtml&language=fr&dataset=dbpedia&mode=all" > temp/tei-as-html-enriched.html

wrong? See attac

[2016-01-27 17:13] borriellom commented on #30
I tried to process your file with my code and it worked fine. I think that the new version has not been deployed yet.
I thought that the master branch was built and deployed each time we commit changes, but maybe I was wrong. Please, try again when you are sure that the new version has been deployed.

[2016-01-27 18:33] fsasaki commented on #30
Thanks, Marta, will do.

[2016-01-28 08:50] ghsnd commented on #30
Indeed, but the build failed; the dependency on Okapi was not resolved. For details, see <http://rv1443.1blu.de:8082/job/e-Internationalization/28/> (you can also inspect the console output there), for a general overview of FREME builds, see <http://rv1443.1blu.de:8082/>.

[2016-01-28 09:03] borriellom commented on #30
Yes, maybe a build of Okapi dev is needed for including the last okapi snapshot in the local maven repository as described by @ghsnd  in #11

[2016-01-28 09:16] borriellom commented on #30
As a temporary solution I can restore the pom.xml file. So the build won't fail and all multiple valued attributes will be well managed. The empty tags won't be handled properly until the newest version of Okapi is linked to the project. Let me know how to proceed.

[2016-01-28 09:26] fsasaki commented on #30
Makes sense to me. About "a build of Okapi dev is needed": who can initiate
that?

2016-01-28 10:16 GMT+01:00 borriellom <notifications@github.com>:

[2016-01-28 09:33] ghsnd commented on #30
I think the simplest solution is to build Okapi dev just once manually, and install it in the maven repo on the FREME server(s). Maybe @jnehring can give some advice here?

[2016-01-28 12:05] ysavourel commented on #30
The fix is in 0.30-SNAPSHOT, so it'll be in http://repository-okapi.forge.cloudbees.com/snapshot until the next release.

[2016-02-01 10:58] borriellom commented on #11
Merge done

[2016-02-01 12:52] jnehring commented on #30
I added the Okapi snapshot repository to e-Internationalizations pom.xml. With this update everyone can build e-Internationalization without building Okapi manually. It downloads the dependency from the maven repository. This update also fixes the build problems on our Jenkins server.

We want to do a release on friday. It is problematic to include a snapshot dependency in the release because it i

[2016-02-01 12:54] jnehring commented on #11
@borriellom can we close this issue?

[2016-02-01 13:21] jnehring opened #34 "Failing e-Internationalization unit test"
One of the brokers unit test fails:

http://rv1443.1blu.de:8082/job/Broker/672/ says
[code]

@borriellom can you please check whats wrong there and maybe fix the problem?

[2016-02-01 13:25] fsasaki commented on #30
@borriellom made a fix on multiple values, see this discussion
https://github.com/freme-project/e-Internationalization/issues/30#issuecomment-175502075
on multiple values. The fix I proposed
https://github.com/freme-project/e-Internationalization/issues/30#issuecomment-175528125
is not allowed by the ITS2 spec and is reported as an error by the W3C validator. @borriellom and @jnehring , if there i

[2016-02-01 13:33] jnehring commented on #30
Sounds like a good solution to me. @borriellom is there still time to implement this in the next days? We want to release on friday.

[2016-02-01 14:30] borriellom commented on #30
Done. Please, @fsasaki  check if it works as expected.

[2016-02-01 14:40] borriellom commented on #34
That's a test from the Broker unit tests. I don't know why the response was 400. Nothing has changed in the management of odt files in e-Internationalization.

[2016-02-01 14:55] jnehring commented on #34
Sorry for the noise. I think the test failed because of https://github.com/freme-project/freme-ner/issues/64 . So the problem originates from FREME NER and not from e-Internationalization.

I leave this open. We will check again if the tests fail when the issue with FREME NER is solved.

[2016-02-01 19:19] fsasaki commented on #30
Works perfect, thanks! One question: does it also happen for the its-ta-ident-ref that you have several URIs? In that case I would suggest the same mechanism. If that, I'm fine with the current state.

[2016-02-02 08:59] jnehring commented on #34
FREME NER is up and running but the problem still occurs.

@ArneBinder  can you please try to fix the problem?

[2016-02-03 12:47] jnehring commented on #34
The problem originates from within e-Internationalization. I added some debug output to the [ODT unit test](https://github.com/freme-project/e-Internationalization/blob/master/src/test/java/eu/freme/i18n/okapi/api/EInternationalizationAPITest.java#L135). A test ODT file with some content gets converted to

[code]

There is no isString property. This causes the failure.

[2016-02-03 15:02] borriellom commented on #34
This should be fixed now. Please, @jnehring  check if tests are successful now.

[2016-02-03 15:08] jnehring commented on #34
Works fine. Thank you

[2016-02-03 15:08] #34 closed

[2016-02-17 15:32] m1ci opened #35 "String Index out of bounds exception"
This issue was reported by @pheyvaer and moved from https://github.com/freme-project/freme-ner/issues/78

The same call as in issue #76, however this time we ask to output the result using text/html. However, we get the following error
[code]
What exactly is the problem here?

P.S. According to the w3 validator our document is valid (beside some deprecated elements, however, that should not make a

[2016-02-17 15:44] borriellom commented on #35
Thanks for reporting this.
Never seen this behavior so far. I'll have a look as soon as possible.

[2016-02-17 18:27] fsasaki commented on #35
I processed the file attached to https://github.com/freme-project/freme-ner/issues/76
https://github.com/freme-project/freme-ner/files/133952/SB50.zip
and processed it with
1) e-entity and output turtle: works as exected
2) e-entity and output html: gives he error reported here with this error message

3) e-Terminology and output turtle or html: both work as expected - html as well.
[output-e-term

[2016-02-18 08:25] jnehring commented on #35
I tested it and I can reproduce the bug. I also checked the log files on FREME dev. They say

[code]
So we can see that the bug originates from within e-Internationalization.

[2016-02-18 10:46] fsasaki commented on #35
Thanks, Jan. It's still unclear to me why this works with other HTML documents and e-Entity roundtripping, and why it works with e-Terminology and the same HTML document.

[2016-03-02 09:22] jnehring opened #36 "Roundtripping ODT"
When doing roundtripping to ODT, are the ITS data categories stored in the ODT? The knowledge base article is not clear about this.

[2016-05-04 10:22] jnehring opened #37 "e-Internationalisation with html, newlines and nif in plaintext"
This API call

http://api.freme-project.eu/current/e-entity/freme-ner/documents?language=en&dataset=dbpedia&informat=text/html&outformat=turtle&input=Bob%20Johnston%2C%20The%20Gutter%20Bookshop%2C%20Temple%20Bar%3Cbr%20%2F%3E%3Cbr%20%2F%3E%E2%80%9CA%20wonderful%20journey%20through%20Joyce%27s%20epic%20novel.

sends this HTML to FREME using e-Internationalisation

[code]

And it produces this NIF (

[2016-05-04 13:00] jnehring commented on #37
@Arnebinder please check where this problem comes from. When it originates from within the e-internationalization API we cannot do anything about it. But this is a new behaviour so I believe that something else creates this problem. Please take a look at this task together with @bgrusdt .

[2016-05-06 07:55] andish commented on #37
SAme for this HTML fragment, taken from BBC.com article:

[code]

and the result contains two incorrect NIF:isString categories:

[code]

and

[code]

[2016-05-09 17:39] ArneBinder commented on #37
@jnehring I can not reproduce this bug. When I execute the [api call](http://api.freme-project.eu/current/e-entity/freme-ner/documents?language=en&dataset=dbpedia&informat=text/html&outformat=turtle&input=Bob%20Johnston%2C%20The%20Gutter%20Bookshop%2C%20Temple%20Bar%3Cbr%20%2F%3E%3Cbr%20%2F%3E%E2%80%9CA%20wonderful%20journey%20through%20Joyce%27s%20epic%20novel.) mentioned above I get this:

[code

[2016-05-10 07:50] jnehring commented on #37
Using the API call I provided in this issue I also do not get the error. But I could reproduce it using curl. The curl request does not send newlines. Maybe the error happens only when the data is submitted in the POST body?

[code]

[2016-05-10 11:54] m1ci commented on #37
if there are newlines, try to send the data as binary (`--data-binary` parameter). In that way, you can be sure that all data is sent (including newlines).

[2016-05-10 14:10] jnehring commented on #37
The problem was solved through the bugfix from https://github.com/freme-project/e-services/issues/12

[2016-05-10 14:10] #37 closed, assigned to jnehring

[2016-05-12 07:51] jnehring commented on #26
This is possible through our anything to NIF converter: http://api.freme-project.eu/doc/current/api-doc/full.html#!/Toolbox/post_toolbox_nif_converter

[2016-05-12 07:51] #26 closed

[2016-05-12 08:19] fsasaki commented on #36
This is not possible, AFAIK.

[2016-05-12 09:19] jnehring commented on #36
thanks!

[2016-05-12 09:19] #36 closed

[2016-05-13 09:19] jnehring commented on #31
How about a "hacky" solution? After e-Internationalization has created the HTML document and added the unwanted tags, we could use this algorithm:
- Check if the output document starts and ends with the tag we do not want
- Check if the original document starts and ends with these tags
- If the first check if true and the second check is false then e-Internationalization removes the unwanted tags

[2016-05-17 07:59] jnehring commented on #31
@fsasaki  proposed my algorithm with a modification which is more robust then my suggestion:

When e-internationalization gets this input:

<p>hello world</p>

Then it checks if the input does start with <!DOCTYPE html> and &lt;html>. If yes it does not do anything. Else it wraps the data with a div element like this:

[code]

Then it performs the enrichment. When the output HTML is created then e

[2016-05-17 11:32] jnehring opened #38 "More newlines in conversion html -> plaintext"
When sending [this homepage](http://www.visitdublin.com/rugby-in-dublin/#ru) to freme ner using e-internationalization we discovered this behaviour:

Part of the input HTML:

[code]

gets converted to

[code]

Note that the newline between "Almost..." and "Main image" is gone. This confuses FREME NER and leads to "... Main" being detected as an entity.

The quality of NER gets better when there th

[2016-05-23 14:02] katia-vistatec commented on #11
Yes, we can close the issue

[2016-05-23 14:07] #11 closed

[2016-06-08 12:39] jnehring commented on #38
Shell commands to reproduce the issue:

wget http://www.visitdublin.com/rugby-in-dublin/#ru

curl -X POST --header "Content-Type: text/html" --data "@index.html" --header "Accept: text/turtle" "http://api-dev.freme-project.eu/current/e-entity/freme-ner/documents?language=en&dataset=dbpedia" > out.txt

open out.txt and check for line "Main image". The line is

[code]

The original HTML has a newlin

[2016-06-08 12:50] jnehring commented on #31
@katia-vistatec fixed the problem. In broker-local package it works fine but in broker-dev there is still an error:

input `<p>hello world</p>` gets converted correctly to output `<p>hello world</p>`
input

[code]

get converted to

[code]

So the DOCTYPE gets stripped.

I think it is some kind of version problem. I will take over from here.

[2016-06-08 13:13] jnehring opened #39 "Conversion of HTML tags to newlines"
Some HTML tags should be converted to newlines, others not. This is important to have ideal input for underlying tokenizers / line splitters / sentence detectors. Some examples I created using the [NIF Converter](http://api.freme-project.eu/doc/current/api-doc/full.html#!/Toolbox/post_toolbox_nif_converter):

`hello<br/>world` gets converted to `helloworld`, should get converted to `hello\nworld`.

[2016-06-09 10:30] katia-vistatec commented on #38
Pushed changes to remote repoository.

[2016-06-09 12:03] jnehring commented on #39
I could not find a list of all HTML tags that produce newlines. Considering the [HTML5 specification](https://www.w3.org/TR/html5/dom.html#kinds-of-content):
- All elements from "3.2.4.1.3 Sectioning content" and "3.2.4.1.4 Heading content" should produce newlines.
- These tags should produce newlines also:
  - article
  - aside
  - br
  - canvas
  - code
  - fieldset
  - hr
  - iframe
  - img
  -

[2016-06-13 09:02] jnehring commented on #39
Via email we agreed with @katia-vistatec that she will consider either converting all these tags to newlines or only the most important if all the tags is too much work.

[2016-06-14 08:18] katia-vistatec commented on #39
Hi,
and what about the tag title?
Should it produce new lines also?

[2016-06-15 07:49] jnehring commented on #39
Yes, good idea!

[2016-06-15 11:25] katia-vistatec commented on #39
This is the list of hml tags I am considering for producing new lines:
h1, h2, h3, h4, h5, h6, p, div, pre, title, article, section, address, footer, table, tr, td, thead, tbody, th, caption, ul, li, ol, dl, dt, dd, br, hr, img, iframe, canvas.

[2016-06-15 13:09] jnehring opened #40 "String index out of bounds exception"
http://api-dev.freme-project.eu/current/e-entity/freme-ner/documents?language=en&dataset=dbpedia&input=%3Cp%3EWelcome%20to%20Berlin!%3C%2Fp&informat=text/html&outformat=text/html

sends this text to FREME NER:

[code]

and it produces

[code]

@katia-vistatec this bug sounds familiar to me but I cannot find the related GitHub issue. Did you already fix this?

[2016-06-15 13:21] jnehring commented on #31
I wanted to test this but I could not test because of https://github.com/freme-project/e-Internationalization/issues/40

[2016-06-15 14:07] katia-vistatec commented on #39
Pushed change to repository

[2016-06-15 14:21] katia-vistatec commented on #40
It seems to me the same bug #35 caused by e-tilde failure.

[2016-06-16 07:55] jnehring commented on #40
I think it is not related to #35. I did further testing and it fails only when the input is send via the query string, it works when the input is send via request body. So I assume the problem is within e-Internationalization filter.

[2016-06-16 10:59] katia-vistatec commented on #40
Hi Jan. I mean that also for issue #35 there was the same problem when speifying informat and outformat as text/html.

[2016-06-17 12:29] jnehring commented on #35
The same problem occurs here: http://rv2622.1blu.de:7001/e-entity/freme-ner/documents?language=en&dataset=dbpedia&input=%3Cp%3EWelcome%20to%20Berlin!%3C%2Fp%3E&informat=text/html&outformat=text/html

[2016-06-17 12:29] jnehring commented on #40
@katia-vistatec you are right. this is a dublicate of #35

[2016-06-17 12:29] #40 closed, assigned to jnehring

[2016-06-17 13:09] jnehring commented on #39
I submit a small input file:

[code]

It produced

[code]

I wonder why it produces three annotations. Is this correct?

When I try to submit a longer request with [SB50.txt](https://github.com/freme-project/e-services/files/304723/SB50.txt) then the request never finishes. This seems to be a new bug:

[code]

[2016-06-17 13:39] katia-vistatec commented on #39
Hi,
if SB50.html is the same file used to reproduce issue #35 I think there's some bug in internationalization that prevent processing this file correctly or maybe something not implemented. When I used this file (see issue 35) for testing with e-tilde translation service there was a response error from e-tilde service.

[2016-06-28 13:41] Katsivelisp commented on #35
Hi,

I don't know if this is really related, but I get the same error when running [this call](http://api-dev.freme-project.eu/current/e-entity/freme-ner/documents?informat=text%2Fhtml&outformat=text%2Fhtml&language=en&dataset=gwpp-glossary&mode=all&input=%3Cp%3EPolyomaviruses%20have%20been%20described%20as%20to%20be%20highly%20stable%20viruses.%20Polyomaviruses%20appear%20to%20be%20relatively%20r

[2016-07-06 17:45] ArneBinder commented on #39
There is a new bug in e-Terminology caused by leading newlines: https://github.com/freme-project/e-services/issues/17#issuecomment-230841515

[2016-07-13 07:33] jnehring commented on #39
For the request that does not finish I created this bug report: https://github.com/freme-project/basic-services/issues/59
I think the rest of the issue is solved.

[2016-07-13 07:33] #39 closed, assigned to jnehring, katia-vistatec

[2016-07-13 07:36] jnehring commented on #38
Problem solved. Related issue: https://github.com/freme-project/e-Internationalization/issues/39

Thank you @katia-vistatec

[2016-07-13 07:36] #38 closed, assigned to katia-vistatec

[2016-07-13 07:43] jnehring commented on #31
The problem that hinders solving this issues was moved to https://github.com/freme-project/e-Internationalization/issues/35

[2016-07-13 14:55] jnehring commented on #35
This problem is fixed.

[2016-07-13 14:55] #35 closed

[2016-07-13 14:57] jnehring commented on #31
This works now.

[2016-07-13 14:57] #31 closed

[2016-10-28 14:17] m1ci commented on #32
whats the status of this issue?
I still dont see this information in HTML.

In RDF its itsrdf:taAnnotatorsRef, in HTMl should be its-annotators-ref. Can we have this done @borriellom or @katia-vistatec ?

\cc @jnehring

[2016-10-28 14:41] katia-vistatec commented on #32
Ok.

[2016-10-28 14:52] katia-vistatec commented on #32
[input-out-local.txt](https://github.com/freme-project/e-Internationalization/files/558679/input-out-local.txt)
[input-out-dev.txt](https://github.com/freme-project/e-Internationalization/files/558680/input-out-dev.txt)

[2016-10-28 14:52] katia-vistatec commented on #32
curl -X POST --header "Content-Type: text/html" --data "@input.txt" --header "Accept: text/html" "http://api-dev.freme-project.eu/current/e-terminology/tilde?informat=text/html&outformat=text/html&source-lang=en&target-lang=nl&nif-version=2.1" > input-out-dev.txt
curl -X POST --header "Content-Type: text/html" --data "@input.txt" --header "Accept: text/html" "http://localhost:8080/e-terminology/ti

[2016-10-28 14:58] katia-vistatec commented on #32
If I run it locally (second curl request) I obtain input-ou-local.txt as the output and it has the its-ta-annotators-ref attribute inside the HTML tag.
If I run it pointing to api-dev (first curl request)  I don't see the attribute (see output file attached input-out-dev.txt).
So I think It's a version problem. Maybe the artifact version of internationalization that is being used is not the one co

[2016-10-28 15:01] m1ci commented on #32
ok, thanks for the info.
@jnehring can you investigate the problem?
@katia-vistatec can you please generate one output example using FREME NER? Thanks!

[2016-10-28 15:27] katia-vistatec commented on #32
Freme ner I can't debug it locally. If I do:

curl -X POST --header "Content-Type: text/html" --header "Accept: text/html" --data "@input.txt" "http://api-dev.freme-project.eu/current/e-entity/freme-ner/documents?informat=text%2Fhtml&outformat=text%2Fhtml&language=en&dataset=dbpedia&mode=all" > input-out-ner-dev.txt

the output does not contain the annotators-ref attribute.

[2016-10-28 15:29] m1ci commented on #32
why there is no annotators-ref attribute for freme ner? any ideas?

[2016-10-28 15:31] katia-vistatec commented on #32
Because of the same version problem. Indeed in the curl there is http://api-dev.freme-project.eu/current.

[2016-10-28 15:36] m1ci commented on #32
Are you saying that it should work for API dev?

I try to send:

[data.txt](https://github.com/freme-project/e-Internationalization/files/558782/data.txt)

and run

[code]

but I get no annotators-ref in the output html.

[2016-10-28 15:40] katia-vistatec commented on #32
No I am saying that it is currently working only "locally" when I use localhost:8080 in the curl request but not on API dev so every curl request to api dev is not working.
There was a previous issue that Jan closed and at that time it was working also on dev.
I think it is a version problem. The artifactId of internationalization is not the one that contains the implementation.

[2016-10-28 15:45] katia-vistatec commented on #32
See https://github.com/freme-project/basic-services/issues/111

[2016-10-28 16:43] katia-vistatec commented on #32
Could be that broker-dev is pointing to internationalization jar 0.6 and this version does not contain the implementation of annotators-ref attribute. This can easily happen because of default artifact versions and "dependencyManagement" in freme-parent pom.

[2016-11-01 12:33] m1ci opened #41 "migrate FREME to higher version than 0.6"
@katia-vistatec claims that FREME dev is using e-Internationalization  version 0.6. @jnehring Can we migrate to a higher version? Reason: provenance is not handled in 0.6.

[2016-11-01 12:35] m1ci commented on #41
for more, see the conversation https://github.com/freme-project/e-Internationalization/issues/32#issuecomment-256969385

[2016-11-01 20:32] fsasaki commented on #41
Hi Milan, sorry for jumping in, Jan may need one or two weeks to come back to this, being busy with other stuff. If this is missing critical we may need a different way to move forward ...

[2016-11-02 08:48] m1ci commented on #41
Thanks for the message, Felix! Actually, I needed this for the D1.7.
@sandroacoelho do you think you can configure FREME DEV to use higher version than 0.6? Maybe you try first on localhost if that will work.

[2016-11-07 10:58] jnehring commented on #41
I updated e-Internationalization on freme-dev to the latest version 0.8-SNAPSHOT. Please test

[2016-11-07 11:00] jnehring commented on #32
I updated e-Internationalization on freme-dev to the latest version 0.8-SNAPSHOT (see #41). Please test

[2016-11-09 08:29] m1ci commented on #32
tested but the `its-tool-ref` property is not found in the output.
I send [data.txt](https://github.com/freme-project/e-Internationalization/files/558782/data.txt) by executing

[code]

and the results are

[code]

I think I found why is that. I use nif-version 2.0 and there is no `itsrdf:taAnnotatorsRef` information.
@sandroacoelho please add itsrdf:taAnnotatorsRef also for NIF 2.0?

I have two q

[2016-11-09 09:45] katia-vistatec commented on #32
Yes, internationalization handles nif 2.1. The itsrdf:taAnnotatorsRef  has been added only for nif 2.1. It has been added in the HTML tag in case of an HTML file or in the outermost element in case of an HTML snippet.

[2016-11-09 09:47] m1ci commented on #32
ok, so why its-tool-ref is not present in the FREME NER output (in: HTML, out: HTML)?

[2016-11-09 09:50] katia-vistatec commented on #32
The curl here has no nif-version parameter.

[2016-11-09 09:53] m1ci commented on #32
but even if I put nif-version=2.1 it does not work
try:

[code]

[2016-11-09 10:01] katia-vistatec commented on #32
I was trying to ask for a nif output to see if the property is in the nif file but I can't connect to the host. Can you try it?

[2016-11-09 10:02] m1ci commented on #32
what host? freme ner dev is up and running.

[2016-11-09 10:39] m1ci commented on #32
also, if I process

[code]

I get

[code]

but the entities are  not annotated (in <span> element).

[2016-11-09 10:40] m1ci opened #42 "entities not annotated in HTML"
if I process

[code]

I get
[code]

but the entities are  not annotated (in <span> element).
try:
curl -X POST --header "Content-Type: text/html" --header "Accept: text/html" -d @data.html "http://api-dev.freme-project.eu/current/e-entity/freme-ner/documents?informat=text%2Fhtml&outformat=text%2Fhtml&language=en&dataset=dbpedia&mode=all&nif-version=2.1"

[2016-11-09 12:32] m1ci commented on #32
during a dev telco decided to close the issue

[2016-11-09 12:32] #32 closed

[2016-11-09 12:46] jnehring commented on #42
@borriellom checks back with @philinthecloud when this can be fixed.

[2016-11-09 14:00] borriellom commented on #42
We should be able to fix it in two weeks.

[2016-11-09 17:30] katia-vistatec commented on #42
Ok. I'm working on it. I think I understood the problem for nif 2.1 and I corrected (not yet pushed to repository) but I noticed a weird output in the case of nif 2.0 both for outformat text/turtle and text/html, when making the call pointing to freme-dev. See attached files:
[resulthtml.txt](https://github.com/freme-project/e-Internationalization/files/581477/resulthtml.txt)
[resulttl.txt](https:

[2016-11-09 17:50] katia-vistatec commented on #42
For nif 2.1 the enriched nif is attached and it has different information:
[enriched.txt](https://github.com/freme-project/e-Internationalization/files/581488/enriched.txt)
It seemed to me that the call using nif 2.0 it was working a few hours ago.
Can you test the outputs for nif 2.0?

[2016-11-09 20:09] m1ci commented on #42
what is not OK there?

The enriched.txt file you attached is NIF. I am asking for "in:HTML, out:HTML"

[2016-11-10 09:26] katia-vistatec commented on #42
Milan could you try the call with nif 2.0 with output html and output nif?

[2016-11-10 09:43] katia-vistatec commented on #42
If you run the calls in calls.txt (that are for nif 2.0) you got an html without enrichments and a nif which does not consider Berlin and Welcome as entities. I have just noticed now that the same is happening with nif 2.1.

[2016-11-10 10:00] katia-vistatec commented on #42
[yesterday-nif-21.txt](https://github.com/freme-project/e-Internationalization/files/583028/yesterday-nif-21.txt)
[today-nif-21.txt](https://github.com/freme-project/e-Internationalization/files/583029/today-nif-21.txt)

[2016-11-10 10:04] katia-vistatec commented on #42
Above are attached the nif 2.1 files of yesterday and today. For my changes I based on the yesterday-nif-21 which is different from the today-nif-21. This last one doesn't have"Berlin" and "Welcome" as entities.
The same is happening for nif 2.0.

[2016-11-16 10:07] m1ci commented on #42
works, thanks @katia-vistatec @borriellom

[2016-11-16 10:07] #42 closed, assigned to jnehring, borriellom, katia-vistatec

[2016-11-16 10:08] m1ci commented on #41
this works now, thanks

[2016-11-16 10:08] #41 closed, assigned to m1ci, jnehring